.header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.header_icons {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 25%;
  padding-left: 1%;
  gap: 25px;
}

.header_links_wrapper {
  border: 1px solid green;
  display: flex;
  margin-left: auto;
  padding-left: 25%;
  padding-right: 5%;
  gap: 25px;
}

.header_links {
  color: black;
  text-decoration: none;
}
