.App {
  background-color: #253031;
}

body {
  background-color: #253031;
  color: #f0f0f0;
  font-family: sans-serif;
}

.me {
  border-radius: 50%;
  width: 12%;
}

.header {
  display: flex;
  padding: 30px;
  align-items: center;
}

.header_icons {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 25%;
  padding-left: 3%;
  gap: 30px;
}

i {
  font-size: 35px;
  color: #f0f0f0;
  padding: 0 10px 0 10px;
}

i:hover {
  color: red;
  font-size: 40px;
}

.header_links_wrapper {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: auto;
  margin-right: 85px;
}

:root {
  --mainColor:#2596a8;;
  --secondColor: #253031;
}

.header_links {
  color: #f0f0f0;
  font-size: 20px;
  text-decoration: none;
  padding: 2px;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 50%,
    var(--secondColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size .3s;
  border-radius: 4px;
}

.header_links:hover {
  background-size: 4px 50px;
  color: white;
  cursor: pointer;
}

/* ------------------------------------Start of home-------------------------------*/

