.App {
  background-color: #253031;
}

body {
  background-color: #253031;
  color: #f0f0f0;
  font-family: sans-serif;
}

.header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.header_icons {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 25%;
  padding-left: 3%;
  gap: 30px;
  
}

i {
  font-size: 35px;
  color: #f0f0f0;
  padding: 0 10px 0 10px;
}

i:hover {
  color: red;
  font-size: 40px;
  
}

.header_links_wrapper {
  border: 1px solid green;
  display: flex;
  margin-left: auto;
  padding-left: 25%;
  padding-right: 5%;
  gap: 25px;
}

.header_links {
  color: #f0f0f0;
  text-decoration: none;
  border-bottom: 3px solid #f0f0f0;
  padding-bottom: 2px
}
